body{
    width:100%;
    background-color: #F3F5FC;;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

#wrapper{
    width:100%;
}

#aluraLogo{
    max-width:100%;
    padding-left:2.8%;
    padding-top:40px;
}

#txtInArea{
    position: absolute;
    width: 47.22vw;
    height: 64.355vh;
    left: 16.66vw;
    top: 16.406vh;
}

#txtIn{
    height:100%;
    width:100%;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color:#0A3871;
    outline: none;
}

#txtOutArea{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    width: 27.778vw;
    height: 92.188vh;
    left: 69.444vw;
    top: 3.906vh;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    outline: none;
    border: none;
}

#imgMuneco{
    position:absolute;
    top:25.741%;
    width:60%;
}

#txtOutIndication{
    position:absolute;
    top:59%;
    display:flex;
    flex-direction: column;
    text-align: center;
    width:84%;
    font-family:Arial, Helvetica, sans-serif;
}

p:nth-child(1){
    font-size:1.5em;
    font-weight:700;
    color:#343A40;
}

p:nth-child(2){
    font-size:1em;
    font-weight:400;
    color:#495057;
}

#txtOut{
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    width:84%;
    height:83%;
    background-color: transparent;
    outline: none;
    border:none;
    font-size:1.5em;
    font-weight:400;
    padding:32px;
    padding-bottom:0;
}

#copybttn{
    position:absolute;
    left:8%;
    bottom:3.3898%;
    display:none;
    width: 22.778vw;
    height:6.543vh;
}

#copy{
    height:100%;
    width:100%;
    color:#0A3871;
    background-color: transparent;
}

.buttons{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    width: 22.778vw;
    height: 100%;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
    border: 1px solid #0A3871;
}

#botones{
    display:flex;
    justify-content: space-between;
    position:absolute;
    width: 47.2222vw;
    height: 6.543vh;
    left: 16.667vw;
    top: 86.426vh;
}

#button1{
    background-color: #0A3871;
    color:#FFFFFF;
}

#button2{
    background-color: transparent;
    color:#0A3871;
}

#indicaciones{
    font-size:.75em;
    position:absolute;
    width:auto;
    left: 16.667vw;
    top: 83.105vh;
    color: #495057;
    font-family: Arial, Helvetica, sans-serif;
}

#informacion{
    position:absolute;
    bottom:10px;
    left:16.667vw;
    color:gray;
}

footer{
    font-size:1em;
}

i{
    color:#1e3050;
}


@media only screen and (max-width:768px){

    #aluraLogo{
        padding-left:40px;
        padding-top:73.43px;
    }

    #txtInArea{
        width:688px;
        height:582px;
        left:40px;
        top:240px;
    }

    #indicaciones{
        left:40px;
        top:840px;
    }

    #botones{
        left:40px;
        top:870px;
        width:688px;
        height:67px;
    }

    .buttons{
        width:332px;
    }

    #txtOutArea{
        left:40px;
        top:1001px;
        width:688px;
        height:343px;
    }

    #imgMuneco{
        display:none;
    }

    #txtOutIndication{
        top:32px;
    }

    #txtOut{
        width:624px;
        height:180px;
    }

    #copybttn{
        left:32px;
        width:624px;
        bottom:32px;
    }


    #informacion{
        left:40px;
        top:1360px;
    }
}

@media only screen and (max-width:375px){

    #aluraLogo{
        position:absolute;
        left:16px;
        top:24px;
        padding:0;
    }

    #txtInArea{
        width:343px;
        height:624px;
        top:152px;
        left:16px;
    }

    #indicaciones{
        left:16px;
    }

    #botones{
        flex-direction: column;
        width:343px;
        height:158px;
        top:883px;
        left:16px;
    }

    .buttons{
        width:343px;
        height:67px;
    }

    #txtOutArea{
        width:343px;
        height:595px;
        top:1120px;
        left:16px;
    }

    #txtOut{
        width:279px;
        height:432px;
    }

    #copybttn{
        width:279px;
        height:67px;
        top:496px;
    }

    #informacion{
        top: 1730px;
    }

}